<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent pe-3">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item">
                    <img src="{{foto}}" alt="Imagem do usuário" width="50px"
                        height="50px" class="img-fluid rounded-circle">
                </li>
                <li class="nav-item ps-3">
                    <p class="m-0 fw-bold text-white fs-16">Olá, {{nome}}</p>
                </li>
                <li class="nav-item ps-3">
                    <a href="">
                        <p class="m-0 text-white fs-16">
                            <i class="fas fa-edit"></i>
                        </p>
                    </a>     
                </li>   
            </ul>
            <a (click)="sair()" href="">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                    <li class="nav-item pe-3">
                        <p class="m-0 fw-bold text-white fs-16">Sair</p> 
                    </li>
                    <li class="nav-item">
                        <p class="m-0 text-white fs-16">
                            <i class="fas fa-sign-out-alt"></i>
                        </p>    
                    </li> 
                </ul>
            </a> 
        </div>
    </div>
</nav>